@using VeterinaryStation.Models
@model VeterinaryStation.Areas.ModulKorisnickiNalog.Models.NalogDeleteVM
@{
    Layout = null;
}


@using (Ajax.BeginForm("Obrisi", "KorisnickiNalogs", FormMethod.Post,new AjaxOptions {UpdateTargetId = "ajaxpozivNalozi" }))
{

    if (TempData["Message"] != null)
    {
        <div>
            <h3>@TempData["Message"]</h3>
        </div>
    }
    @Html.AntiForgeryToken()

    <div>
        <h4>Korisnicki nalog</h4>
        <hr/>
        <div class="form-group">    

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.KorisnickiNalogId, Model.listaNaloga.Select(model => new SelectListItem
           {
               Value = model.Id.ToString(),
               Text = model.Username
           }).ToList(), null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

                <div class="form-actions no-color">
                    <input type="submit" value="Obrisi" class="btn btn-default" />

                </div>
            </div>
            }





